<footer>
<div class="container">
    <div class="footer-content">
        <!--<h2 class="footer-content__site-name">{{ site.Title }}</h2>-->
        <p>{{ i18n "rowingclub" }} Kleinmachnow Stahnsdorf Teltow, {{ now.Format "2006" }}</p>
    </div>
    <div class="footer-social">
        <a href="https://www.facebook.com/wanderrudern" target="_blank" class="icons">
            <img style="height:30pt;width:auto;" src="/bundle/facebook-icon-light.svg" alt="Facebook">
        </a>
    </div>
</div>
</footer>
