<nav class="nav">
    <ul class="top-nav">
        <a href="/" style="display:flex;"><img class="top-nav__logo" src="/bundle/kst_wikingerschiff_simplistic_light.svg"></img></a>
        <div class="top-nav__link-group">
            <li class="top-nav__link"><a href="/announcement">Termine</a></li>
            <li class="top-nav__link"><a href="/trip_report">Berichte</a></li>
            <li class="top-nav__link"><a href="/beginner">Anfänger</a></li>
            <li class="top-nav__link"><a href="/news">News</a></li>
            <li class="top-nav__link"><a href="/impressum">Kontakt</a></li>

            <li class="top-nav__link"><a href="#"><img class="top-nav__icons" src="/bundle/search-icon-light.svg"></a></li>
        </div>
    </ul>
</nav>
